<div class="container-fluid settings-container">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="settings-title">
                {{ "gen_settings" | translate }}
            </h1>
            <h2 class="settings-second-title">
                {{ "change_settings" | translate }}
            </h2>
        </div>
    </div>
    <div class="row">
        <!-- Settings Cards -->
        <div class="col-md-4 setting-card" *ngFor="let item of settingsItems">
            <div class="card">
                <i [class]="item.icon"></i>
                <div class="card-body">
                    <h5 class="card-title">{{ item.label | translate }}</h5>
                    <p class="card-text">{{ item.description | translate }}</p>
                    <button class="card-button" (click)="openDialog(item.action)">{{ "gen_select" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
