.settings-container{
    padding-top   : 9.375vw;
    padding-bottom: 5rem;

    // background           : url("../../../assets/images/background.jpg") no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    width                : 100%;
    min-height           : 100vh;


}