<div class="container-fluid settings-container">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>
                {{ "gen_settings" | translate }}
            </h1>
            <!-- Change Language -->
            <h2>{{ "change_lang" | translate }}</h2>
            <button class="button" (click)="changeLanguageDialog()">{{ "change_lang" | translate }}</button>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">

        </div>
    </div>
</div>