<mat-toolbar color="primary" *ngIf="!isLoginRoute" class="navbar-container">
  <mat-toolbar-row class="navbar-content">
    

    <!-- Sidebar toggle button -->
    <button class="sidebar-button" *ngIf="features.sidebar.hasSidebar" (click)="toggleSidebar()">
      <mat-icon class="sidebar-button-icon">menu</mat-icon>
    </button>
    
    <!-- App Title -->
    <a [href]="'/home'" class="app_title">{{ "app_title" | translate }}</a>

    <div class="navbar-items-container">
      <div class="navbar-items" *ngFor="let item of items" (click)="changeLocation(item.location)">
        <i style="padding-right: 10px;" [ngClass]="item.icon" *ngIf="features.sidebar.iconsEnabled"></i>
        <h3 class="item-style">
          {{ item.label | translate }}
        </h3>
      </div>
    </div>
    

  </mat-toolbar-row>
</mat-toolbar>