.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar .mat-toolbar-row {
  justify-content: space-between;
}
mat-toolbar .mat-toolbar-row .app_title {
  font-size: 1vw;
}
mat-toolbar .mat-toolbar-row .app_title:hover {
  cursor: pointer;
}
mat-toolbar .mat-toolbar-row .profile_nav_title {
  font-size: 1vw;
}
/* For icons inside mat-menu-item */
mat-menu button mat-icon {
  margin-right: 0.42vw;
}
