.example-spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    .mat-toolbar-row {
      justify-content: space-between;

      .app_title {
        font-size: 1vw;
        text-decoration: none;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }

      .profile_nav_title {
        font-size: 1vw;
      }
    }
  }
  
  /* For icons inside mat-menu-item */
  mat-menu {
    button mat-icon {
      margin-right: 0.420vw;
    }
  }
  