<mat-toolbar color="primary" *ngIf="!isLoginRoute" class="navbar-container">
  <mat-toolbar-row class="navbar-content">
    

    <!-- Sidebar toggle button -->
    <button class="sidebar-button" *ngIf="features.sidebar.hasSidebar" (click)="toggleSidebar()">
      <mat-icon class="sidebar-button-icon">menu</mat-icon>
    </button>
    
    <!-- App Title -->
    <a [href]="'/home'" class="app_title">{{ "app_title" | translate }}</a>

    <div class="navbar-items-container">
      <div class="navbar-items" *ngFor="let item of items" (click)="changeLocation(item.location)">
        <i style="padding-right: 10px;" [ngClass]="item.icon" *ngIf="features.sidebar.iconsEnabled"></i>
        <h3 class="item-style">
          {{ item.label | translate }}
        </h3>
      </div>
        <mat-icon class="nav-settings-icon" [matMenuTriggerFor]="navMenu">settings</mat-icon>
    </div>
    

    <mat-menu #navMenu="matMenu" >
      <button mat-menu-item class="mat-menu-item" (click)="openSettings()">
        <mat-icon>settings</mat-icon>
        {{ "gen_settings" | translate }}
      </button>
      <button mat-menu-item class="mat-menu-item" (click)="openHelp()">
        <mat-icon>help</mat-icon>
        {{ "gen_help" | translate }}
      </button>
      <button mat-menu-item class="mat-menu-item" (click)="openProfile()">
        <mat-icon>account_circle</mat-icon>
        {{ "gen_profile" | translate }}
      </button>
      <button mat-menu-item class="mat-menu-item" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        {{ "gen_logout" | translate }}
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>