.navbar-container {
  width           : 100%;
  position        : fixed;
  top             : 0;
  right           : 0;
  z-index         : 10;
  background-color: rgb(34, 40, 49);
  height: 5vh;

  .mat-toolbar-row {
    // Uncomment this to make the navbar go right
    // justify-content: space-between;

    .sidebar-button {
      background     : none;
      border         : none;
      cursor         : pointer;
      padding        : 10px;
      margin         : 0;
      display        : flex;
      align-items    : center;
      justify-content: center;

      &:hover .hamburger-icon>.hamburger-line {
        background: rgba(255, 255, 255, 0.1);
      }

      .hamburger-icon {
        display : block;
        position: relative;
        width   : 30px;
        height  : 20px;

        .hamburger-line {
          background   : #fff;
          height       : 3px;
          /* Adjust to change the thickness of the lines */
          position     : absolute;
          left         : 0;
          width        : 100%;
          border-radius: 3px;
          transition   : 0.4s;
        }

        .hamburger-line:nth-child(1) {
          top: 0;
        }

        .hamburger-line:nth-child(2) {
          top: 8px;
        }

        .hamburger-line:nth-child(3) {
          top: 16px;
        }
      }
    }

    .nav-settings-btn {
      color: white;

      &:hover {
        cursor    : pointer;
        color     : rgba(255, 255, 255, 0.1);
        transition: 0.4s;
      }
    }

    .app_title {
      font-size      : 1.3vw;
      text-decoration: none;
      color          : white;
      padding-left   : 0%;

      &:hover {
        cursor: pointer;
      }
    }

    .navbar-items-container {
      padding-left: 2.5%;

      .navbar-items {
        display        : flex;

        i {
          font-size   : 1.3vw;
        }
        
        .h2 {
          margin-bottom: 0;
        }
  
        .item-style {
          display      : inline;
          white-space  : nowrap;
          overflow     : hidden !important;
          text-overflow: ellipsis;
          font-size      : 1.3vw;
          align-items  : center;
        }
  
      }
    }

  }
}