<div class="container-fluid register-container">
    <div class="row">
        <div class="col-md-12">
            <!-- Register Form -->
            <div class="form-group mx-auto login-form" [formGroup]="registerGroup">
                <!-- Welcome Message -->
                <h1 class="text-center text-style">{{ "register_btn" | translate }}</h1>
    
                <h3 class="text-center register2-msg">{{ 'register2_msg' | translate }}</h3>
                
                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>{{ 'username' | translate }}</mat-label>
                    <input type="'text'" matInput placeholder="{{'username' | translate}}" formControlName="username">
                    <mat-error *ngIf="">{{'error_required_error' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>{{ 'gen_email' | translate }}</mat-label>
                    <input type="'email'" matInput placeholder="{{'gen_email' | translate}}" formControlName="email">
                    <mat-error *ngIf="">{{'error_required_error' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>{{ 'gen_password' | translate }}</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput
                        placeholder="{{'gen_password' | translate}}" formControlName="password">
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="mat-suffix">{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="">{{'error_required_error' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field class="form-element" appearance="fill">
                    <mat-label>{{ 'gen_check_confirm_password' | translate }}</mat-label>
                    <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput
                        placeholder="{{'gen_check_confirm_password' | translate}}" formControlName="confirmPassword">
                    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" class="mat-suffix">{{ hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="registerGroup.controls['confirmPassword'].errors?.['confirmedValidator'] && registerGroup.controls['confirmPassword'].touched">
                        {{'gen_passwords_do_not_match' | translate}}
                    </mat-error>
                </mat-form-field>

                <section class="form-element">
                    <mat-checkbox formControlName="terms">
                        <span class="terms-msg"> {{ 'terms_msg' | translate }} </span>
                        <a href="/terms">{{ 'terms_title' | translate }}</a>
                    </mat-checkbox>
                </section>

                <button class="button" (click)="register()">
                    <i class="pr-1 fa fa-sign-in-alt"></i>
                    {{ 'gen_register' | translate }}
                </button>
        </div>
    </div>
</div>