/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #222831;
  color: #EEEEEE;
  margin: 0;
  padding: 0;
}
/* Container styling */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222831;
}
/* Row styling */
.row {
  width: 100%;
}
/* Column styling */
.col-md-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Header styling */
.text-style {
  color: #00ADB5;
  margin-bottom: 20px;
}
.register2-msg {
  color: #EEEEEE;
  margin-bottom: 20px;
  font-size: 1vw;
}
/* Form styling */
.login-form {
  background-color: #393E46;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}
.form-element {
  width: 100%;
  margin-bottom: 15px;
}
input,
mat-checkbox {
  color: #EEEEEE;
}
/* Button styling */
.button {
  background-color: #00ADB5;
  color: #EEEEEE;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}
.button:hover {
  background-color: #007B83;
}
/* Link styling */
a {
  color: #00ADB5;
  text-decoration: none;
  font-size: 1.2vw;
}
a:hover {
  color: #007B83;
  transition: color 0.3s ease;
}
/* Icon styling */
.mat-icon {
  color: #EEEEEE;
  cursor: pointer;
}
.terms-msg {
  color: #EEEEEE;
  font-size: 1.2vw;
}
.mat-suffix {
  color: #00ADB5;
}
