@import "theme/colors.less";

.button {
    position        : relative;
    cursor          : pointer;
    padding         : 1rem;
    margin          : 0 1rem 1rem 0;
    background-color: @buttonsBg;
    color           : @buttonsText;
    border          : 1px solid fade(@buttonsText, 50%);
    min-width       : 125px;

    &.bblg {
        min-width   : 350px;
        display     : block;
        margin-left : auto;
        margin-right: auto;
    }

    &:hover {
        background-color: @themeColor;
        color           : #EEEEEE;
        border          : 1px solid @themeColor;
    }

    i {
        padding-right: 1rem;
    }

    a {
        color          : @buttonsText  !important;
        text-decoration: none !important;

        &:hover {
            color: #EEEEEE;
        }
    }
}

.confirm {
    background-color: #00ADB5;
    color           : #EEEEEE;
  }
  
.cancel {
  background-color: #B4B4B8;
  color           : #EEEEEE;
}

.btn {
    padding      : 10px 20px;
    border       : none;
    border-radius: 5px;
    cursor       : pointer;
    transition   : background-color 0.2s;
    outline      : none;
  }