<div class="dialog-container">
  <h1 class="dialog-title">
    {{ "change_lang" | translate }}
  </h1>

  <select class="form-select" (change)="ChangeLang($event)">
    <option [selected]="selectedLanguage === 'en'" value="en">English</option>
    <option [selected]="selectedLanguage === 'gr'" value="gr">Greek</option>
  </select>

  <!-- Buttons -->
  <div class="dialog-buttons">
    <button class="btn confirm" (click)="confirm()">
      {{ "gen_confirm" | translate }}
    </button>
    <button class="btn cancel" (click)="close()" *ngIf="data.cancel">
      {{ "gen_cancel" | translate }}
    </button>
  </div>
</div>
