<!-- Stepper Layout -->
<mat-horizontal-stepper [linear]="true" #stepper class="stepper-container">
  <!-- Step 1: Select Class -->
  <mat-step [stepControl]="classFormGroup">
    <form [formGroup]="classFormGroup">
      <ng-template matStepLabel>Select your class</ng-template>
      <div class="form-field-container">
        <mat-form-field class="custom-mat-form-field">
          <mat-label>Class</mat-label>
          <mat-select formControlName="classControl" required>
            <mat-option *ngFor="let class of classes" [value]="class.value">{{class.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2: Select Lecture Time -->
  <mat-step [stepControl]="lectureFormGroup">
    <form [formGroup]="lectureFormGroup">
      <ng-template matStepLabel>Select your time</ng-template>
      <div class="form-field-container">
        <mat-form-field class="custom-mat-form-field">
          <mat-label>Time</mat-label>
          <mat-select formControlName="lectureControl" required>
            <mat-option style="font-size: 300px;" *ngFor="let lecture of availableLectures" [value]="lecture.value">{{lecture.viewValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Step 3: Overview and Submit -->
  <mat-step>
    <ng-template matStepLabel>Review and confirm</ng-template>
    <div class="form-field-container overview-container">
      <h2>Class: {{ getSelectedClassViewValue() }}</h2>
      <h2>Time: {{ getSelectedLectureViewValue() }}</h2>
    </div>
    <div class="button-container">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submit()">Confirm</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
