.sidebar {
  position        : fixed;
  top             : 7vh;
  left            : -250px;
  width           : 250px;
  transition      : left 0.3s;
  background-color: #222831;
  color           : #EEEEEE;
  z-index         : 1000;
  height          : 95vh;
}

.item-style {
  position     : absolute;
  display      : inline;
  width        : 200px;
  white-space  : nowrap;
  overflow     : hidden !important;
  text-overflow: ellipsis;
  font-size    : 1rem;
  left         : 25%;
  padding-top  : 3px;
  align-items  : center;
}

i {
  font-size   : 1.5rem;
  align-items : center;
  padding-left: 10%;
  color       : #EEEEEE;
}

.sidebar.open {
  left: 0;
}

.sidebar-simple {
  width           : 4%;
  top             : 0;
  height          : 100%;
  position        : absolute;
  z-index         : 1;
  left            : 0;
  transform       : translateZ(0);
  transition      : width .5s ease 0s;
  background-color: #222831;

  .sidebar-items {
    padding-left: 20%;
  }
}

.sidebar-items {
  padding-top    : 10px;
  display        : flex;
  justify-content: start;
  height         : 70px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor          : pointer;
    transition      : 0.2s;
  }
}

.sidebar-bottom-items {
  position         : absolute;
  width            : 100%;
  // padding-bottom: 15px;
  color            : #EEEEEE;
  bottom           : 2.5%;
  align-items      : center;
  padding-top      : 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor          : pointer;
    transition      : 0.2s;
  }
}


.sidebar-overlay {
  width   : 100vw;
  height  : 100vh;
  position: fixed;
  top     : 0;
  left    : 0;
  z-index : 999;
}