
<div class="sidebar" [class.open]="isOpen" *ngIf="!isLoginRoute">

  <!-- Sidebar Main Items -->
  <div class="sidebar-items" *ngFor="let item of items" (click)="changeLocation(item.location)">
    <i [ngClass]="item.icon"></i>
    <h3 class="item-style">
      {{ item.label }}
    </h3>
    <!-- <p class="fas fa-user h2">dd</p> -->
  </div>

  <!-- Sidebar Bottom Items -->
  <div class="sidebar-bottom-items" *ngFor="let bottomItem of bottomItems">
    <i [ngClass]="bottomItem.icon"></i>
    <h3 class="item-style">
      {{ bottomItem.label }}
    </h3>
  </div>

</div>

<div class="sidebar-simple" >

  <div class="sidebar-items" *ngFor="let item of items">
    <i [ngClass]="item.icon"></i>
  </div>
    

</div>


<!-- Sidebar Overlay -->
<div *ngIf="isOpen" class="sidebar-overlay" (click)="toggleSidebar()"></div>