.sidebar {
  position: fixed;
  top: 64px;
  left: -250px;
  width: 250px;
  transition: left 0.3s;
  background-color: rgba(50,54,60,255);
  color: rgba(122,116,133,255);
  z-index: 5;
}

.sidebar.open {
  left: 0;
}
