:host {
  display  : block;
  margin   : 0 auto;
  max-width: 500px;
}

.dialog-title {
  font-size:1.2vw;
}

mat-form-field {
  width        : 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  padding: 24px;
  display: flex;
}

.mat-suffix {
  color: #0071aa;
}

.confirm {
  font-size: 1rem;
  height          : 5vh;
  width           : 5vw;
  background-color: #0071aa;
  color           : #EEEEEE !important;

  &:hover {
    background-color: #005c8b;
    color           : #EEEEEE;
  }
}

.cancel {
  font-size: 1rem;
  height          : 5vh;
  width           : 5vw;
  background-color: #a01616;
  color           : #EEEEEE !important;

  &:hover {
    background-color: #8c1212;
    color           : #EEEEEE;
  }
}

.dialog-content {
  display: flex;
}

.dialog-buttons {
  justify-content: space-around;
  font-size      : 3rem;
}

.icon {
  padding-top: 1vh;
  font-size   : 2rem;
  color       : #0071aa!important;
}