<h1 mat-dialog-title>{{ "change_password" | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <mat-form-field appearance="fill">
      <mat-label>{{ "current_password" | translate }}</mat-label>
      <input matInput formControlName="currentPassword" type="password" required>
      <mat-error *ngIf="passwordForm.controls['currentPassword'].hasError('required')">
        {{ "field_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "new_password" | translate }}</mat-label>
      <input matInput formControlName="newPassword" type="password" required>
      <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
        {{ "field_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ "gen_check_confirm_password" | translate }}</mat-label>
      <input matInput formControlName="confirmPassword" type="password" required>
      <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">
        {{ "field_required" | translate }}
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button class="btn confirm" mat-button [mat-dialog-close]="true" type="submit">{{ "gen_confirm" | translate }}</button>
      <button class="btn cancel" mat-button mat-dialog-close>{{ "gen_cancel" | translate }}</button>
    </div>
  </form>
</div>
