/* === Colors === */
@themeColor     : #00ADB5;
@themeBg        : #222831;
@themeColor-Dark: #1f9bcc;
@themeColor-Text: #EEEEEE;
@darkText       : #000000;
@lightText      : #EEEEEE;

/* Dark Theme */
@primaryBg     : #171717;
@primaryText   : #eeeeee;
@secondaryBg   : #212121;
@secondaryText : #6d6d6d;
@thirdBg       : #424242;
@thirdText     : #fafafa;
@materialBg    : #424242;

@buttonsBg        : #00ADB5;
@buttonsText      : #EEEEEE;

.clr-sec-text {
    color: @secondaryText;
}

.clr-theme {
    color: @themeColor;
}

.clr-pri-text {
    color: @primaryText;
}

.clr-pri-text-f {
    color: fade(@primaryText, 50%);
}

.bg-theme {
    background: @themeColor;
}

.bg-sec {
    background: @secondaryBg;
}

.theme-tooltip {
    background: @themeColor  !important;
}

.active {
    color: #48465b;
}